* {
    padding: 0;
    margin: 0;
    font-family: Arial;
    letter-spacing: 0.5px;
}

h1, h2 {
    color: #7c7c7c;
    margin-bottom: 50px;
}

body {
    padding: 50px;
}

.input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.input-wrapper label {
    position: absolute;
    top: 50%;
    left: 10px;
    color: black;
    background-color: white;
    transform: translate(0, -35px);
    padding: 0 10px;
    pointer-events: none;
    font-size: 14px;
    color: #7c7c7c;
}

input {
    padding-left: 20px;
    height: 50px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #7c7c7c;
}

input::placeholder {
    color: #e2e2e2;
}

section {
    margin-bottom: 80px;
}

.check {
    display: flex;
    width: 400px;
    align-items: center;
}

.check label {
    position: unset;
    transform: unset;
    pointer-events: unset;
}

.check input {
    width: 15px;
    height: 15px;
}

button {
    height: 50px;
    width: 420px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
}